.vagrant/
vendor/
config/development.config.php
phpunit.xml
data/*
data/DoctrineORMModule/Proxy
.idea/
.project
public/.htaccess
public/myTestApplication.php
logs/*
!logs/.gitkeep
.buildpath
.settings
