.vagrant/
composer.phar
vendor/
config/development.config.php
phpunit.xml
data/DoctrineORMModule/Proxy
data/DoctrineORMModule/Migrations/*
!data/DoctrineORMModule/Migrations/.gitkeep
data/cache/*
!data/cache/.gitkeep
data/cookiefile
.idea/
.project
public/.htaccess
public/myTestApplication.php
logs/*
!logs/.gitkeep
.buildpath
.settings
docker/mysql/db/*
!docker/mysql/db/.gitkeep
